@import "tailwindcss";

@theme {
  --color-accent: #0070f3;
  --color-accent-hover: #0051af;
  --font-sans: var(--font-sans);
  --font-display: var(--font-display);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-[#121212] text-gray-100;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-linear-to-r from-blue-400 to-blue-600;
  }
}
